@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    JobSpring Partners<br/>
    10 S LaSalle St<br />
    Suite 1350<br />
    Chicago, IL 60603<br />
    <abbr title="Phone">P:</abbr>
    (312) 739-1300
</address>

Or<br/><br />

<address>
    Laurencio Bucio<br />
    1932 S. Carpenter<br />
    Chicago, IL 60068<br />
    <abbr title="Phone">P:</abbr>
    (312) 927-9260
</address>

<address>
    <strong>JobSpring:</strong> <a href="mailto:sirene.ramahi@jobspringpartners.com">sirene.ramahi@jobspringpartners.com</a><br />
    <strong>Laurencio:</strong> <a href="mailto:laurenciobucio@hotmail.com">laurenciobucio@hotmail.com</a>
</address>
